# Android Studio / IntelliJ / Gradle
*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aar

# macOS
.DS_Store

# Local configuration
local.properties
gradle.properties (don't ignore this if you need project props, but usually it's safe to keep)

# Visual Studio Code
.vscode/
